body {
  font-family: Arial, sans-serif;
  background-color: #f4f6ff;
  padding: 20px;
}

header, footer {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 48px;   
  font-weight: bold;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

section {
  width: 500px;
  max-width: 92%;
  background-color: #ffffff;
  padding: 58px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
}

button {
  cursor: pointer;
  background-color: #4a6cff;
  color: white;
  border: none;
  border-radius: 5px;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back {
  margin-top: 40px;    
  display: flex;
  justify-content: center;  /* math 카드 아래와 간격 */
}

.back a {
  text-decoration: none;
  color: #5162ae;
  font-weight: bold;
  font-size: 18px;
  align-self: flex-end;
}